.about{
    overflow-x: hidden;
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    align-items: center;
}.container{
    width: 90vw;
    margin: 0 auto;
}

.text-success{
    color: rgb(22, 224, 66) ;
    margin-right: 5px;
}
.text-success i{
  font-size: 17px;
}
.text-danger {
  color: rgb(235, 17, 17) ;
}
.text-danger i{
  font-size: 17px;
}

@media screen and (max-width: 600px) {
    .about{
        
        display: inline-block !important;
    }
  }

